In [3]:
import numpy as np
import pandas as pd
import math
import thinkplot
import thinkstats2
import scipy.stats as ss
import seaborn as sns
from statsmodels.stats.power import TTestPower
from sklearn.metrics import mean_squared_error
powerTest = TTestPower()

Please use this as your workbook for the exam. This does not need to be submitted in any way. Some usefull stuff is already setup, you can add more if needed.

In [5]:
df = pd.read_csv("income.csv")
df = df.drop(columns={"Unnamed: 0"})
df.head()

,A,B,C,D,E,F
0,44824.410025,59729.038820,52814.302256,39851.398343,51640.667644,55944.436857
1,49447.423320,43067.229558,45886.590668,68807.673950,52180.350169,69004.213544
2,38990.744148,45522.538305,62396.772090,46475.758680,53317.002918,76817.659334
3,45387.821273,57125.473593,39709.308913,51866.903548,55061.772830,65338.986982
4,66698.721551,43480.429622,55996.381027,43358.029026,43311.520309,64290.580055